<div class="container text-center" style="margin-top: 16px">
  <h1 class="text-center">Add a review</h1>
</div>
<hr>
<div class="container text-center" style="margin-top: 16px">
  <div class="text-left">
    <%= render 'form', restaurant: @restaurant, review: @review %>
  </div>
</div>
